In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows',None)

import numpy as np
import re

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_clean = pd.read_csv("../data/1_shark_limpio.csv", encoding='latin-1')

In [3]:
df_date = pd.read_csv("../data/2_shark_fechas.csv", encoding='latin-1', sep = ",")

Concatenamos ambos df y eliminamos las columnas sobrantes ya que ahora tenemos la fecha desglosada en las columnas Final_XXXX.

Además, eliminamos las filas en las que tras la esploración no se ha logrado determinar fecha

In [4]:
df = pd.concat([df_clean, df_date], axis = 1)

df = df.drop(["Date", "Case Number.1", "Case Number.2", "Unnamed: 0"], axis=1)

Ahora que el case number ya no tiene sentido mantenerlo lo vamos a reconvertir en el índice para los ataques. Sin embargo antes vamos a eliminar filas que tras la exploración no se hayan podido corregir

In [5]:
list(df[df['Final_year'] == 0]) == list(df[df['Final_month'] == 0])

True

Vemos que las filas en las que el año final y el mes final que tienen valores de 0 son coincidentes. Por lo tanto decicimos eliminarlas debido a la falta de concreción de una fecha del ataque.

In [6]:
indices = df[df['Final_year'] == 0].index.tolist()

# Eliminar las filas con los índices especificados
df = df.drop(indices)

continuación pasamos la columna de case number para ser un índice propio

In [7]:
df["Case Number"] = ["Attack-" +str(i).zfill(4) for i in range(len(df), 0, -1)]

También eliminamos la columna Year ya que los datos no estaban correctamente presentados y la hemos sustituido por Final_year

In [8]:
df = df.drop(["Year"], axis=1)

Corregimos la siguiente columna. Type. Unificando los valores mal escritos o que significan lo mismo y ocupandonos de los posibles Nan

In [9]:
df = df.replace(["Boat", "Boatomg"], "Boating")

Tras una primera corrección revisamos las dos filas categorizadas como questionable. Se decide eliminar dichas filas debido a su falta de interés para la base de datos. No se puede confirmar la presencia de un tiburon en el ataque y no se presentan mayores daños que desperfectos en una tabla de surf.

In [10]:
df[df.Type == "Questionable"]

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,Final_year,Final_month,Final_day
16,Attack-6270,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6287.0,2018,5,9
20,Attack-6266,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,NaN,No injury,N,07h00,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6283.0,2018,4,25

In [11]:
df = df.drop(df[df.Type == "Questionable"].index)

A continuación reseteamos el índice y nos ocuparemos de los valores nulos

In [12]:
df = df.reset_index(drop=True)

In [13]:
df[df.Type.isnull()]

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,Final_year,Final_month,Final_day
83,Attack-6201,NaN,SAMOA,Upolu Island,NofoaliÂi,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6218.0,2017,9,15
380,Attack-5904,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5921.0,2015,7,27
4865,Attack-1419,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1436.0,1936,9,11
5703,Attack-0581,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,598.0,1890,3,3

Observamos que en la columna solamente hay 4 valores nulos. Sin embargo se decide eliminar las filas debido a la presencia de nulos en otras columnas clave como la especie,

In [14]:
df = df.dropna(subset=['Type'])
df[df.Type.isnull()]

Empty DataFrame
Columns: [Case Number, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, original order, Final_year, Final_month, Final_day]
Index: []

In [15]:
df.Type.value_counts()

Unprovoked      4583
Provoked         574
Invalid          547
Boating          341
Sea Disaster     235
Name: Type, dtype: int64

In [16]:
df.to_csv("../data/3_shark_index_filas.csv",index=False)