# SHARKNADO

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows',None)

import numpy as np
import re

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../data/attacks.csv", encoding='latin-1')

# 1. Limpieza de filas nulas (aproximación general)
Lo primero comprobamos si existen filas donde todos los valores sean nulos.

In [3]:
len(df[df.isna().all(axis=1)])

17020

In [4]:
df = df.dropna(how='all')

Eliminamos las 17020 filas donde todos los valores son nulos a su falta de aportación para el Data Frame.

Ahora filtramos por filas que tengan menos de 1 o 2 valores. Observamos que son las mismas que aquellas que tienen menos de 10 valores por lo tanto decidimos eliminarlas debido a la falta de interés en las mismas.

In [5]:
result = df[df.count(axis=1) < 3]
len(result)

2401

In [6]:
result = df[df.count(axis=1) < 10]
len(result)

2401

In [7]:
(df[df.count(axis=1) < 3]).equals(df[df.count(axis=1) < 10])

True

In [8]:
df = df[~(df.count(axis=1) < 10)]

Tras eliminar las columnas con menos de 10 valores efectivos nos queda un Data Frame de 6302 registros con los que podemos trabajar y que podrían tener interés. A continuación se procederá a abordar el data frame columna por columna, revisando los valores y tratando de despejar los nan.

# 2. Limpieza de columnas nulas (aproximación general)

In [9]:
df.head(0)

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

Tras revisar las variables de las columnas empezamos la limpieza por las dos últimas columnas. A continuación comprobamos el contenido de las columnas

In [10]:
df["Unnamed: 22"].unique()

array([nan, 'stopped here'], dtype=object)

In [11]:
df["Unnamed: 23"].unique()

array([nan, 'Teramo', 'change filename'], dtype=object)

Vemos que los únicos datos que ofrecen estas columnas son: [nan, 'Teramo', 'stopped here', 'change filename']. Revisaremos las veces que se repiten los datos para comprobar su utilidad, aunque a primera vista parecen columnas inservibles.

In [12]:
df["Unnamed: 22"].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

In [13]:
df["Unnamed: 23"].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

In [14]:
df = df.drop(["Unnamed: 22", "Unnamed: 23"], axis = 1)

In [15]:
df.shape

(6302, 22)

In [16]:
df.to_csv("../data/shark_limpio.csv", sep=',', index=False)

Vemos que cada dato see ha presentado una sola vez. Por lo tanto declaramos que ambas columnas son inservibles y procedemos a su eliminación.

vemos que solamente hay diferencias en 20 columnas. Creamos una función que aplicaremos a ambas columnas para igualar los registros y poder quedarnos con una única columna con el número de caso

In [ ]:
#indices = df[df['Final_year'] == 0].index.tolist()
#df = df.drop(indices)